@media (min-width: 600px) {
  .top-navbar {
    box-shadow: 0 0 50px grey !important;
  }

  #top_actions_section {
    display: flex;
    align-items: center;
  }
}

.user_list_item.active .user_list_arrrow_icon {
  transform: rotate(180deg);
}

.user_list_item.active,
.user_list_item.active .collapsible-header {
  background-color: aliceblue;
}

table.highlight > tbody > tr:hover {
  background-color: rgba(143, 231, 255, 0.5);
}

.container {
  width: 100% !important;
}

.add_user_modal_back {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 999;
}

.add_user_modal {
  position: fixed;
  width: 100%;
  height: 70vh;
  background-color: white;
  bottom: -70vh;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 10px;
}

.add_user_modal.show {
  bottom: 0;
}
